/*CONSTANTS*/
/*FONTS*/
@import url("https://p.typekit.net/p.css?s=1&k=fbn0kju&ht=tk&f=630.632.634.636&a=2369223&app=typekit&e=css");
@font-face {
  font-family: OpenSansEB;
  src: url(../fonts/OpenSans-ExtraBold.ttf); }
@font-face {
  font-family: OpenSansL;
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: "pill-gothic-600mg";
  src: url("https://use.typekit.net/af/31e189/00000000000000003b9b29a3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/31e189/00000000000000003b9b29a3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/31e189/00000000000000003b9b29a3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "pill-gothic-600mg";
  src: url("https://use.typekit.net/af/cba5a1/00000000000000003b9b29a0/27/l?subset_id=2&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/cba5a1/00000000000000003b9b29a0/27/d?subset_id=2&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/cba5a1/00000000000000003b9b29a0/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "pill-gothic-600mg";
  src: url("https://use.typekit.net/af/489701/00000000000000003b9b29a4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/489701/00000000000000003b9b29a4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/489701/00000000000000003b9b29a4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "pill-gothic-600mg";
  src: url("https://use.typekit.net/af/5c4e73/00000000000000003b9b29a7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/5c4e73/00000000000000003b9b29a7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/5c4e73/00000000000000003b9b29a7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800; }
/*COLORS*/
.grey {
  background: #4E5859;
  background: #4e5859; }

.yellow {
  background: #F2E75E;
  background: #f2e75e; }

.green {
  background: #A0CB83;
  background: #a0cb83; }

.blue {
  background: #5E96AD;
  background: #5e96ad; }

.petrol {
  background: #006373;
  background: #006373; }

.darker {
  background: rgba(30, 48, 54, 0.8); }

.lighter {
  background: rgba(255, 255, 255, 0.7); }

/*OVERWRITTEN STYLES*/
section:not(.aktuelles_startpage) h1, section:not(.aktuelles_startpage) h2, section:not(.aktuelles_startpage) h3, section:not(.aktuelles_startpage) h4, section:not(.aktuelles_startpage) p {
  color: #4e5859; }

body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify; }

.menu-container > li.menu-item:hover a.menu-link div {
  color: #839192; }
.menu-container > li.menu-item a.menu-link div {
  color: #4e5859; }

a:hover, button:hover {
  color: #4e5859;
  filter: brightness(1.5); }

.menu-link {
  font-family: OpenSansEB;
  font-family: "pill-gothic-600mg";
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 700; }

header.sticky-header div#header-wrap {
  width: 100vw; }

div#wrapper {
  background-color: rgba(255, 255, 255, 0); }

/*CUSTOM CLASSES AND STYLES*/
/*========= STARTPAGE =============*/
#page-header-img {
  height: 600px; }

.nav-boxes-startpage {
  font-family: 'Open Sans', sans-serif;
  margin-top: -50px; }
  .nav-boxes-startpage > div.container > div.row {
    min-height: 150px; }

.color-box {
  min-height: 5px;
  margin-bottom: 5px; }

.nav-startpage-item {
  display: inline-flexbox; }

.nav-boxes-item {
  position: relative;
  border-right: 5px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 10px 25px 10px; }
  .nav-boxes-item:hover {
    filter: drop-shadow(0px 3px 15px #839192); }
  .nav-boxes-item:last-child {
    border-right: none; }
  .nav-boxes-item hr {
    border-top: 2px solid #fff;
    width: 33%;
    margin-top: calc(50% - 25px);
    margin-right: 66%; }

.padding_top_bottom {
  padding-bottom: 50px;
  padding-top: 50px; }

.padding_bottom {
  padding-bottom: 50px;
  padding-top: 0; }

/*MEDIA QUERIES*/
@media (max-width: 992px) {
  section.terminvergabe-startpage div.terminvergabe-floating-button-container {
    right: 0; } }
@media (max-width: 768px) {
  html body div.hidden-sm-down {
    display: none; } }
/*WILKOMMEN*/
section.welcome-startpage {
  margin-top: 20px; }
  section.welcome-startpage .container {
    margin-top: 30px; }
  section.welcome-startpage h1, section.welcome-startpage h2 {
    line-height: 1;
    font-size: 2.8em;
    font-family: "pill-gothic-600mg";
    text-transform: uppercase;
    margin: 0; }
  section.welcome-startpage h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  section.welcome-startpage h2 {
    font-weight: 300; }
  section.welcome-startpage h3 {
    line-height: 1;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: "pill-gothic-600mg";
    font-weight: 700; }
  section.welcome-startpage .welcome-container-image {
    padding: 0;
    position: relative; }
    section.welcome-startpage .welcome-container-image img {
      width: 100%; }
  section.welcome-startpage span.bottom-link a {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: "pill-gothic-600mg";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 700;
    color: #4e5859; }
    section.welcome-startpage span.bottom-link a:hover {
      filter: brightness(1.5); }

/*TERMINVERGABE*/
section.terminvergabe-startpage {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative; }
  section.terminvergabe-startpage .terminvergabe-img-container {
    height: 500px; }
    section.terminvergabe-startpage .terminvergabe-img-container img {
      height: 200%;
      width: auto; }
  section.terminvergabe-startpage .terminvergabe-floating-button-container {
    padding: 5%;
    height: 100%;
    background-color: rgba(78, 88, 89, 0.88);
    position: absolute;
    right: 16.66667%;
    top: 0;
    text-align: center; }
    section.terminvergabe-startpage .terminvergabe-floating-button-container h1, section.terminvergabe-startpage .terminvergabe-floating-button-container h2, section.terminvergabe-startpage .terminvergabe-floating-button-container h3, section.terminvergabe-startpage .terminvergabe-floating-button-container h4 {
      color: #fff;
      font-family: "pill-gothic-600mg";
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      text-align: center; }
    section.terminvergabe-startpage .terminvergabe-floating-button-container h4 {
      font-family: OpenSansL; }
    section.terminvergabe-startpage .terminvergabe-floating-button-container button {
      display: inline-block;
      position: relative;
      cursor: crosshair;
      font-family: "pill-gothic-600mg";
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      font-weight: 700;
      background-color: #4e5859;
      color: #ebebec;
      border: 2px solid #ebebec;
      border-radius: 2px;
      padding: 10px 20px;
      text-shadow: none; }

/*KOMPETENZEN*/
section.kompetenzen-startpage {
  margin-top: 50px; }
  section.kompetenzen-startpage h1, section.kompetenzen-startpage h2 {
    line-height: 1;
    font-size: 2.4em;
    font-family: "pill-gothic-600mg";
    text-transform: uppercase;
    margin: 0; }
  section.kompetenzen-startpage h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  section.kompetenzen-startpage h2 {
    font-weight: 300; }
  section.kompetenzen-startpage .kompetenzen-component-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_1 {
      background: url("images/Fotos/Start/kompetenzen/ct01.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_2 {
      background: url("images/Fotos/Start/kompetenzen/ct02.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_3 {
      background: url("images/Fotos/Start/kompetenzen/ct03.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_4 {
      background: url("images/Fotos/Start/kompetenzen/ct04.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_5 {
      background: url("images/Fotos/Start/kompetenzen/ct05.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_6 {
      background: url("images/Fotos/Start/kompetenzen/ct06.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_7 {
      background: url("images/Fotos/Start/kompetenzen/ct07.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img.img_8 {
      background: url("images/Fotos/Start/kompetenzen/ct08.jpg");
      width: 100%;
      height: 287px;
      background-repeat: no-repeat;
      background-size: cover; }
    section.kompetenzen-startpage .kompetenzen-component-container div.kompetenzen-background-img:hover {
      transition: filter 0.2s;
      filter: saturate(0);
      cursor: pointer; }
    section.kompetenzen-startpage .kompetenzen-component-container div.bottom-link {
      position: absolute;
      background-color: #4E5859;
      color: #fff;
      filter: saturate(1) !important;
      font-weight: 600;
      bottom: 0;
      width: 100%;
      height: 75px;
      line-height: 1.2git;
      padding-left: 10px;
      text-transform: capitalize;
      padding-top: 10px;
      font-family: OpenSans;
      font-size: 1.4em;
      letter-spacing: 1px; }
      section.kompetenzen-startpage .kompetenzen-component-container div.bottom-link span {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400; }
      section.kompetenzen-startpage .kompetenzen-component-container div.bottom-link a {
        font-family: OpenSans;
        font-size: 1.4em;
        text-transform: capitalize; }

/*DISZIPLINEN*/
section.disziplinen-startpage {
  background-color: #ededed;
  margin-top: 50px; }
  section.disziplinen-startpage div.col-4 {
    padding-left: 5px;
    padding-right: 5px; }
    section.disziplinen-startpage div.col-4:first-child {
      padding-left: 15px; }
    section.disziplinen-startpage div.col-4:last-child {
      padding-right: 15px; }
  section.disziplinen-startpage .disziplinen-container-startpage {
    margin-bottom: 50px;
    position: relative;
    border: 1px solid #4E5859;
    padding: 10px;
    min-height: 420px; }
    section.disziplinen-startpage .disziplinen-container-startpage div.icon-container {
      width: 100px;
      height: 100px;
      position: relative; }
      section.disziplinen-startpage .disziplinen-container-startpage div.icon-container img {
        width: 100%;
        height: 100%; }
    section.disziplinen-startpage .disziplinen-container-startpage h4 {
      margin-top: 50px;
      font-family: "pill-gothic-600mg";
      font-weight: 600;
      font-size: 1.2em;
      text-transform: uppercase; }
    section.disziplinen-startpage .disziplinen-container-startpage div.bottom-link a {
      font-family: OpenSansEB;
      font-weight: 500;
      color: #4e5859;
      text-transform: uppercase;
      display: block;
      letter-spacing: 5px;
      text-align: right;
      position: absolute;
      bottom: 15px;
      right: 15px; }
      section.disziplinen-startpage .disziplinen-container-startpage div.bottom-link a::after {
        content: ">>";
        padding-left: 10px; }

/*AKTUELLES STARTPAGE*/
section.aktuelles_startpage {
  position: relative;
  background: url("images/Fotos/Start/titelbild.jpg");
  background-position-x: 1710px;
  background-position-y: 1240px;
  color: #fff;
  filter: saturate(0.33) contrast(1.5); }
  section.aktuelles_startpage .container {
    margin-top: 0; }
  section.aktuelles_startpage div.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 88, 89, 0.88); }
  section.aktuelles_startpage .margin-top-bottom {
    margin-bottom: 50px;
    margin-top: 50px; }
  section.aktuelles_startpage h1, section.aktuelles_startpage h2, section.aktuelles_startpage h3, section.aktuelles_startpage h4 {
    color: #fff;
    font-family: "pill-gothic-600mg";
    text-transform: uppercase;
    letter-spacing: 1px; }
  section.aktuelles_startpage h4 {
    font-weight: 300; }
  section.aktuelles_startpage div.item {
    position: relative; }
    section.aktuelles_startpage div.item div.date_wrap {
      display: block;
      width: 100%;
      height: 20px; }
      section.aktuelles_startpage div.item div.date_wrap span.date {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.8em;
        font-family: "pill-gothic-600mg";
        text-transform: uppercase; }
    section.aktuelles_startpage div.item p {
      max-height: 240px;
      overflow: hidden;
      padding-bottom: 20px; }
      section.aktuelles_startpage div.item p:after {
        content: "...";
        position: absolute;
        bottom: -20px;
        left: 0; }

/*SECTION TEAM*/
section.team_startpage h2 {
  margin-top: 0; }

/*IMPRESSIONEN*/
section.praxis_impressionen div.item img {
  height: fit-content;
  width: auto; }

/* =================== SUBPAGES ========================*/
section .subpage b, section .subpage p {
  font-size: 1.1rem; }
section .subpage h1, section .subpage h2, section .subpage h3, section .subpage p, section .subpage b, section .subpage span {
  color: #fff; }
section .subpage hr {
  margin-right: 34%;
  width: 66%;
  border-color: #fff; }
section div.color-overlay-container {
  height: 300px;
  position: relative; }
  section div.color-overlay-container div.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 88, 89, 0.88); }
    section div.color-overlay-container div.color-overlay img {
      width: 200px;
      height: auto; }
section .bottom-stripe {
  padding-top: 20px;
  background-color: #4e5859; }
section section.subpage-tab-content {
  font-size: 1rem;
  background-color: #fff; }
  section section.subpage-tab-content div.tab-main {
    padding-top: 60px; }
    section section.subpage-tab-content div.tab-main p {
      color: #4e5859; }
  section section.subpage-tab-content div.sidebar {
    padding-top: 30px; }
    section section.subpage-tab-content div.sidebar div.termin-sidebar {
      padding: 30px 20px 10px 20px;
      background-color: #4e5859;
      color: #fff; }
    section section.subpage-tab-content div.sidebar div.ansprechpartner_herzdiagnostik img {
      width: 100%; }
    section section.subpage-tab-content div.sidebar div.ansprechpartner_herzdiagnostik div.ansprechpartner_text {
      background-color: #4e5859; }
      section section.subpage-tab-content div.sidebar div.ansprechpartner_herzdiagnostik div.ansprechpartner_text span {
        display: block; }

/*KOMPETENZEN*/
section.row .kompetenzen-parallax .kompetenzen-overlay {
  position: absolute; }

/*==================== FOOTER =========================*/

.dark footer#footer, footer#footer.dark {
  border-top-color: #4e5859; }
  .dark footer#footer .container, footer#footer.dark .container {
    padding-top: 15px; }
  .dark footer#footer h3, .dark footer#footer a, footer#footer.dark h3, footer#footer.dark a {
    color: #afafaf;
    font-family: openSans;
    font-size: .85em;
    display: block; }
  .dark footer#footer h3, footer#footer.dark h3 {
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: .85em; }
  .dark footer#footer a, footer#footer.dark a {
    display: block;
    font-weight: 300; }
  .dark footer#footer .footer-logo-wrp, footer#footer.dark .footer-logo-wrp {
    position: relative;
    height: 60px; }
  .dark footer#footer .footer-logo, footer#footer.dark .footer-logo {
    position: absolute;
    margin-bottom: 0;
    right: 0;
    width: 35%;
    left: 65%; }


/*============== GENERAL STUFF FOR ALL CONTAINERS======== */
section .container:not(.color-box, .color-overlay-container) {
  margin-top: 30px; }
section .margin-top-bottom {
  margin-bottom: 25px;
  margin-top: 25px; }
section .bottom-link {
  font-family: "pill-gothic-600mg";
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 700;
  color: #4e5859; }
section h1, section h2 {
  line-height: 1;
  font-size: 2.4em;
  font-family: "pill-gothic-600mg";
  text-transform: uppercase;
  margin: 0; }
section h1 {
  font-weight: 700;
  margin-bottom: 30px; }
section h2 {
  font-weight: 300; }

#wrapper #header #header-wrap div.container {
  padding: 0 0; }
  #wrapper #header #header-wrap div.container #logo {
    border-right: none; }
  #wrapper #header #header-wrap div.container ul {
    border-right: none;
    padding-right: 0;
    margin-right: 0; }

#logo svg {
  width: 100%;
  display: block; }

.owl-dots {
  display: none !important; }

/*# sourceMappingURL=custom.css.map */
